{% extends 'base.html'%}
{% load static%}

{%block content %}


<div class="container-fluid"
    style="background-image: url('../static/images/about2..jpeg'); background-repeat: no-repeat;background-size: cover;height: 120vh;">


    <div class=" container-fluid bg-secondary" style="text-align:center;height:10vh">

        <h2>About Us</h2>
    </div>
    <div class="row d-flex; justify-content-center align-items-center">


        <div class="about" style="margin-top :50px;">


            <img src="../static/images/gallery2.jpg" alt="">

            <div class="overlay card card-body" style="margin-top:25vh;width: 500px;">
                <p>
                    <img src="../static/images/ibra.jpg" alt="" height="100px" width="100px"
                        style="border-radius: 50%;">

                    Ibrahim <br>
                    "People see owning a gallery as a way to get rich. I never thought that I could get rich in the art
                    world. I wanted a life in art. I wanted to live with artists. I wanted to make beautiful shows.""


                </p>
            </div>
        </div>
        <div class="div">


        </div>
    </div>



</div>
{%endblock%}