<div class="container-fluid" style="background-color: rgb(182, 178, 178);">
    {%block styles%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {%endblock%}



    <div class="row text-center">

        <div class="col-sm-4">
            <h3>Craft gllery</h3>

            <div class="footer-text">

                <p class="card-text">

                    Welcome to Craft Gallery website where you can view my photos that intrests you and also pictures
                    under different categories.</p><br>
                You can also search for images basing on their categories.
                <span>Enjoy the views</span>
                <p>Have Fun</p>


                </p>

            </div>


        </div>
        <div class="col-sm-4">
            <h3>Quick Links</h3>

            <div class="links">

                <ul style="list-style-type: none;font-size:25px;">

                    <li><a href="{% url 'homepage'%}">Home</a></li>
                    </li>
                    <li><a href="{% url 'gallery'%}">Gallery</a> </li>
                <li><a href="{% url 'about'%}">About</a></li>

                </ul>

            </div>
        </div>



        <div class="col-sm-4">
            <h3>Social Media</h3>

            <div class="media text-center d=flex flex-column align-items-center" style="font-size: 30px;">

                <a href="#" class="fa fa-facebook">Facebook</a>
                <a href="#" class="fa fa-twitter">Twitter</a>
                <a href="#" class="fa fa-instagram">Instagram</a> </div>

        </div>
        <div class="col-md-12">
            <hr>
            <div class="card-footer d-flex justify-content-center align-items-center">
                <p>Copyright &copy; 2021, <a href="{% url 'homepage'%}">Craft Gallery</a></p>
            </div>
        </div>
    </div>

</div>