<div class="container-fluid">
    {%block styles%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {%endblock%}



    <div class="row">

        <div class="col-sm-4">
            <h1>Craft gllery</h1>

            <div class="card card-body">

                <p class="card-text">

                    Welcome to Craft Gallery website where you can view my photos that intrests you and also pictures
                    under different categories.</p><br>
                You can also search for images basing on their categories.
                <span>Enjoy the views</span>


                </p>
                <p>Have Fun</p>
            </div>


        </div>
        <div class="col-sm-4"></div>
        <h1>Quick Links</h1>

        <div class="links">
            
            

           
        </div>



        <div class="col-sm-4">
            <h1>Social Media</h1>

            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>



        </div>
    </div>
</div>