{% extends 'base.html'%}

{%block content %}

<div class="container-fluid">

<h2>View images based on the locations they were taken
    <h2>Nairobi</h2>
    <div class="row">
    

        {%for image in nairobi %}
    
        

        <div class="card card-body">

            <img src="{{image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>
<h2>Images in Karatina</h2>
    <div class="row">
    

        {%for image in karatina %}
    
        

        <div class="card card-body">

            <img src="{{ image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>

    <h2>Images in Nyeri</h2>
    <div class="row">
    

        {%for image in nyeri %}
    
        

        <div class="card card-body">

            <img src="{{ image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>

    <h2>Images in mombasa</h2>
    <div class="row">
    

        {%for image in mombasa %}
    
        

        <div class="card card-body">

            <img src="{{ image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>

    <h2>Images in nakuru</h2>
    <div class="row">
    

        {%for image in nakuru %}
    
        

        <div class="card card-body">

            <img src="{{ image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>
    <h2>Images in marsabit</h2>
    <div class="row">
    

        {%for image in marsabit %}
    
        

        <div class="card card-body">

            <img src="{{ image.photo.url }}" alt="" height="200px" width="200px">
            <p>{{image.name}}</p>
          
        </div>
        {%endfor %}
    </div>

</div>


{%endblock %}